<span class="leftslice">
<div class="userprofile">
    <div class="userrow">
        <img class="userprofileimage" src="assets/images/profileimage.png" alt="">
        <div class="userinfo">user name</div>
    </div>
    <div class="requestsrow">
        <mat-list class="customlist">
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="cutomitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
           </mat-list>
    </div>
</div>
<div class="available">
    <div class="availabletitle">
        <span>blog at</span>
    </div>
    <div class="availablebody">
        <mat-list class="customlist">
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
            <mat-list-item class="customitem">
                <mat-card class="customcard">
                        groupname
                      <button class="userprofilebutton">Delete</button>
                  </mat-card>
            </mat-list-item>
           </mat-list>
    </div>
</div>
</span>


<span class="middleslice">
    <div class="groupprofile">
        <img class="groupimage" src="assets/images/profileimage.png" alt="">
        <div class="groupinfo">
            <span>groupname</span>
        </div>
    </div>
    <div class="middleslicebody">
        <mat-card class="contentcardbody">
            <mat-card-header>
                <mat-card-footer>
                    <div mat-card-avatar>
                        <img class="contentcard" src="assets/images/profileimage.png" alt="">
                    </div>
                  </mat-card-footer>
                <mat-card-title>username</mat-card-title>
                <mat-card-subtitle>email</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contentcardcontent">
                <p>
                  jaofjoaondoanfodnoafnodfmn danofinofia dnof fjnof afo oafj ofoa foenio
                  ajofijeoaw ejfowe oaofinoef jeofawjfo oifoajfoe ofjeonfooef ofjfoeifoieo
                  ajdofjoifjeoeofj a jwaofjo oeajwfij.
                </p>
              </mat-card-content>
              <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
        <mat-card class="contentcardbody">
            <mat-card-header>
                <mat-card-footer>
                    <div mat-card-avatar>
                        <img class="contentcard" src="assets/images/profileimage.png" alt="">
                    </div>
                  </mat-card-footer>
                <mat-card-title>username</mat-card-title>
                <mat-card-subtitle>email</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contentcardcontent">
                <p>
                  jaofjoaondoanfodnoafnodfmn danofinofia dnof fjnof afo oafj ofoa foenio
                  ajofijeoaw ejfowe oaofinoef jeofawjfo oifoajfoe ofjeonfooef ofjfoeifoieo
                  ajdofjoifjeoeofj a jwaofjo oeajwfij.
                </p>
              </mat-card-content>
              <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
        <mat-card class="contentcardbody">
            <mat-card-header>
                <mat-card-footer>
                    <div mat-card-avatar>
                        <img class="contentcard" src="assets/images/profileimage.png" alt="">
                    </div>
                  </mat-card-footer>
                <mat-card-title>username</mat-card-title>
                <mat-card-subtitle>email</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contentcardcontent">
                <p>
                  jaofjoaondoanfodnoafnodfmn danofinofia dnof fjnof afo oafj ofoa foenio
                  ajofijeoaw ejfowe oaofinoef jeofawjfo oifoajfoe ofjeonfooef ofjfoeifoieo
                  ajdofjoifjeoeofj a jwaofjo oeajwfij.
                </p>
              </mat-card-content>
              <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
        <mat-card class="contentcardbody">
            <mat-card-header>
                <mat-card-footer>
                    <div mat-card-avatar>
                        <img class="contentcard" src="assets/images/profileimage.png" alt="">
                    </div>
                  </mat-card-footer>
                <mat-card-title>username</mat-card-title>
                <mat-card-subtitle>email</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contentcardcontent">
                <p>
                  jaofjoaondoanfodnoafnodfmn danofinofia dnof fjnof afo oafj ofoa foenio
                  ajofijeoaw ejfowe oaofinoef jeofawjfo oifoajfoe ofjeonfooef ofjfoeifoieo
                  ajdofjoifjeoeofj a jwaofjo oeajwfij.
                </p>
              </mat-card-content>
              <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
    </div>
</span>

<span class="rightslice"></span>
  
